package ${package}.${moduleName}.controller;

import com.zero.rainy.core.model.PageableParam;
import com.zero.rainy.core.model.Result;
import com.zero.rainy.core.model.PageResult;
import com.zero.rainy.web.model.group.Create;
import com.zero.rainy.web.model.group.Update;
import jakarta.validation.Valid;
import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;
import ${package}.${moduleName}.model.vo.${ClassName}Vo;
import ${package}.${moduleName}.model.dto.${ClassName}DTO;
import ${package}.${moduleName}.model.converts.${ClassName}Convert;
import ${package}.${moduleName}.service.I${ClassName}Service;

import java.util.List;

/**
 * ${ClassName} Controller
 *
 * @author ${author}
 * <p> Created on ${createdAt} </p>
 */
@Slf4j
@RestController
@RequiredArgsConstructor
@RequestMapping("/${requestPath}")
public class ${ClassName}Controller {
    private final I${ClassName}Service ${classname}Service;
    private final ${ClassName}Convert convert;

    /**
     * 查询所有记录
     */
    @GetMapping
    public Result<List<${ClassName}Vo>> list(){
        return Result.ok(${classname}Service.list(${ClassName}Vo.class, convert::toVo));
    }

    /**
     * 根据ID查询记录
     */
    @GetMapping("/{id}")
    public Result<${ClassName}Vo> findById(@PathVariable("id") Long id){
        return Result.ok(convert.toVo(${classname}Service.getById(id)));
    }

    /**
     * 分页查询记录
     */
    @GetMapping("/page")
    public Result<PageResult<${ClassName}Vo>> list(@Valid PageableParam query) {
        return Result.ok(${classname}Service.pages(query, ${ClassName}Vo.class, convert::toVo));
    }

    /**
     * 新增记录
     */
    @PostMapping
    public Result<Boolean> save(@RequestBody @Validated(Create.class) ${ClassName}DTO dto){
        return Result.ok(${classname}Service.save(convert.toEntity(dto)));
    }

    /**
     * 根据ID修改记录
     */
    @PatchMapping
    public Result<Boolean> updateById(@RequestBody @Validated(Update.class) ${ClassName}DTO dto){
        return Result.ok(${classname}Service.updateById(dto));
    }

    /**
     * 根据ID删除记录
     */
    @DeleteMapping("/{id}")
    public Result<Boolean> deleteById(@PathVariable Long id){
        return Result.ok(${classname}Service.removeById(id));
    }
}
