package ${package}.${moduleName}.controller;

import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

/**
 * ${comment} on Controller
 *
 * @author ${author}
 * <p> Created on ${createdAt} </p>
 */
@Slf4j
@RestController
@RequiredArgsConstructor
@RequestMapping("/${requestPath}")
public class ${className}Controller {
    private final ${className}Service ${classname}Service;
}
