package ${package}.${moduleName}.model.dto;

import com.zero.rainy.web.model.dto.BaseDTO;
import lombok.Data;
import lombok.EqualsAndHashCode;
#if(${hasBigDecimal})
#end
#if(${hasLocalDateTime})
#end
#if(${hasLocalDate})
#end

import java.io.Serial;
import java.io.Serializable;

/**
 * ${ClassName} DTO
 *
 * @author ${author}
 * <p> Created on ${createdAt} </p>
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class ${ClassName}DTO extends BaseDTO implements Serializable{
    @Serial
    private static final long serialVersionUID = 1L;

#foreach($column in $columns)
    #if("$!column.comment" != "")
        /**
         * ${column.comment}
         */
    #end
    private $column.attrType $column.attrNameCamelCase;
#end
}