package ${package}.${moduleName}.mapper;

import com.zero.rainy.db.ext.mapper.SuperMapper;
import org.apache.ibatis.annotations.Mapper;


/**
 * ${ClassName} Mapper
 *
 * @author ${author}
 * <p> Created on ${createdAt} </p>
 */
@Mapper
public interface ${ClassName}Mapper extends SuperMapper<${ClassName}>{

}