package ${package}.core.model.entity;

import com.baomidou.mybatisplus.annotation.TableName;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.Getter;
import lombok.NoArgsConstructor;
import java.io.Serial;
import lombok.EqualsAndHashCode;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasLocalDateTime})
import java.time.LocalDateTime;
#end
#if(${hasLocalDate})
import java.time.LocalDate;
#end

/**
 * ${ClassName} - ${comment}
 *
 * @author ${author}
 * <p> Created on ${createdAt} </p>
 */
@Data
@NoArgsConstructor
@AllArgsConstructor
@TableName("${tableName}")
@EqualsAndHashCode(callSuper = true)
public class ${ClassName} extends SuperEntity<${ClassName}>{
    @Serial
    private static final long serialVersionUID = 1L;

#foreach($column in $columns)
    #if("$!column.comment" != "")
    /**
     * ${column.comment}
     */
    #end
    private $column.attrType $column.attrNameCamelCase;
#end
}