package ${package}.${moduleName}.model.vo;

import com.zero.rainy.web.model.vo.BaseVo;
import lombok.Data;
import lombok.EqualsAndHashCode;
#if(${hasBigDecimal})
import java.io.Serial;
#end
#if(${hasLocalDateTime})
#end
#if(${hasLocalDate})
#end
import java.io.Serializable;

/**
 * ${ClassName} Vo
 *
 * @author ${author}
 * <p> Created on ${createdAt} </p>
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class ${ClassName}Vo extends BaseVo implements Serializable {
    @Serial
    private static final long serialVersionUID = 1L;

#foreach($column in $columns)
    #if("$!column.comment" != "")
        /**
         * ${column.comment}
         */
    #end
    private $column.attrType $column.attrNameCamelCase;
#end
}